<div class="container my-5">
  <h2>Discover our best friends</h2>
  <p class="mb-5"><small><em>Choose your dog by clicking on a card</em></small></p>
  <div class= "cards">
      <% @pets.each do |pet| %>
      <%= link_to pet_path(pet), class: "card card-pets" do %>
          <div>
              <%= image_tag pet.photo_url, alt: pet.name, class: "pet-img" %>
              <div class="card-pets-content">
                <h3>Hi ! My name is <strong><%=  pet.name  %></strong> </h3>
                <p><i class="fa-solid fa-map-pin pe-3"></i> I'm from <%=  pet.location  %></p>
                <p><i class="fa-solid fa-cake-candles pe-3"></i> I'm <%=  pet.age %> years old</p>
              </div>
          </div>
        <% end %>

      <% end %>
  </div>
</div>
