
<div class= "cards">
    <% @pets.each do |pet| %>
    <%= link_to pet_path(pet), class: "card" do %>
        <div class="card">
            <%= image_tag pet.photo_url, alt: pet.name, class: "pet-img rounded-top" %>
            <h3><%=  pet.name  %></h3>
            <h3><%=  pet.location  %></h3>
            <h3><%=  pet.age %></h3>
        </div>
      <% end %>
    <% end %>
</div>
