<div class="banner p-5">
  <h2>Discover our best friends</h2>
  <div class= "cards">
      <% @pets.each do |pet| %>
      <%= link_to pet_path(pet), class: "card" do %>
          <div class="card">
              <%= image_tag pet.photo_url, alt: pet.name, class: "pet-img rounded-top" %>
              <p>Hi ! My name is <%=  pet.name  %></p>
              <p>I'm from<%=  pet.location  %></p>
              <p>I'm <%=  pet.age %> years old</p>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
