<div class="card mx-auto my-0 w-50"> <%= image_tag @pet.photo_url, alt: @pet.name %>
  <p><%= @pet.name %></p>
  <p><%= @pet.race %></p>
  <p><%= @pet.age  %></p>
  <p><%= @pet.sexe %></p>
  <p><%= @pet.location  %></p>
  <p><%= link_to "Book Him", new_pet_booking_path(@pet)%> for only $<%= @pet.price  %> per day!</p>
</div>
